.main-bg {
  background-color: #F4F5F4;
}

.main-body {
  min-height: 100vh;
  padding: 1rem;
  position: relative;
}
.ibox {
  background-color: #FFFFFF;
  border-radius: 0.2rem;
  flex-direction: column;
  margin-bottom: 1.25rem;
  position: relative;
  width: 100%;
}
.ibox:last-child {
  margin-bottom: 0;
}
.ibox-header {
  border-bottom: 1px solid #EAE7EC;
  padding: 0.625rem 10rem 0.625rem 0.95rem;
  position: relative;
}
.ibox-title {
  margin-bottom: 0;
  user-select: none;
}
.ibox-tools {
  right: 0.95rem;
  position: absolute;
  top: 0.75rem;
}
.ibox-tools > .ibox-tool-item {
  color: #9A9A9A;
  cursor: pointer;
  font-size: 16px;
  margin-right: 0.625rem;
  user-select: none;
}
.ibox-tools > .ibox-tool-item:last-child {
  margin-right: 0;
}
.ibox-body {
  height: calc(100% - 45px);
  padding: 0.375rem 0.95rem;
  position: relative;
  width: 100%;
}
/* Chart */
#chart {
  width: 100%
}
/* Table */
#panel-table {
  padding: 0;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}
.dataTables_scroll .dataTables_scrollHeadInner {
  border-bottom: 1px solid #DEE2E6;
}
#panel-table table thead > tr > th {
  border: none;
}
#panel-table table tbody > tr > td {
  border-bottom: 1px solid #DEE2E6;
  border-top: 0;
  padding-left: 18px;
  padding-right: 18px;
}
#panel-table table tbody > tr:last-child > td {
  border-bottom: 0;
}
#panel-table table tbody > tr > td.dataTables_empty {
  border-bottom: 0;
}
/* Edit form */
.ibox .form-group {
  margin-bottom: 1rem;
}
.ibox .form-group:last-child {
  margin-bottom: 0.6rem;
}
.label-name {
  display: block;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 3px;
  user-select: none;
}
.input-edit {
  border: 1px solid transparent;
  border-bottom: 1px solid #DEE2E6;
  display: block;
  font-size: 21px;
  font-weight: 600;
  transition: border 0.2s;
  width: 60%;
}
.input-edit:disabled {
  background-color: #FFFFFF;
  border-bottom: 1px solid transparent;
}
.input-edit:focus {
  border-bottom: 1px solid #2186FD;
  outline: none;
}
#panel-edit {
  overflow-y: auto;
}
#selected-datetime {
  font-size: 21px;
  margin-bottom: 0;
}

/* Scroll Bar */
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  background-color: #F7FAFE;
  border-left: 1px solid #E7EAEC;
}
div::-webkit-scrollbar-thumb {
  background-color: #1E70E3;
  border-radius: 6px;
}